.cdpDetailsData {
    position: relative;
}
.noData {
    position: relative;
    z-index: 999;
}
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: rotate 3s linear infinite;
    transform: translate(-50%, -50%) scale(11);
}
.button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #659287;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
} 
.button:disabled {
    background-color: #344CB7;
    cursor: not-allowed;
} 
.buttonText {
    font-size: 18px;
}
.signatureContainer {
    display: flex;
    justify-content: center;
    width: 96% !important;
    margin: 0 auto;
}
.signature {
    margin: 1em 0;
    overflow-wrap: anywhere;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(11);
    }
    100% {
        transform: rotate(360deg) scale(11);
    }
}
