.heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 28px;
}
  
.cdpList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 768px) {
    .cdpList {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 1200px) {
    .cdpList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1920px) {
    .cdpList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}